@font-face {
  font-family: 'fira_sansregular';
  src: url('/fonts/firasans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansregular';
  src: url('/fonts/firasans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700&display=swap');
.firsans-regular {
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
}

.firsans-semibold {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

.firsans-bold {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}
